mat-card{
    // padding-left: 0%;
    // padding-right: 0%;
    padding: 0;
}

.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        cursor: pointer;
        &:first-child{
            cursor: unset;
            &:hover{
                background-color: unset;
            }
        }
        color: rgba(0,0,0,0.5);
        &:first-child{
            color: black;
        }
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:last-child {
            border-bottom: 0;
        }

        td {
            height: 48px;
            &:first-child{
                padding-left: 16px;
            }
        }

        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
            color: rgba(0,0,0,0.8);
        }
    }


    th {
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px;
        text-align: start;
        height: 48px;

        &:first-child{
            padding-left: 16px;
        }
    }
}